<!DOCTYPE html>

<title>Edit Contrat</title>

{% block body %}
    <h1>Edit Contrat</h1>

    {{ include('contrat_back/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_contrat_back_index') }}">back to list</a>

    {{ include('contrat_back/_delete_form.html.twig') }}
{% endblock %}
