
{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>
        S'il existe un compte correspondant à votre adresse e-mail, 
        un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">Essayer à nouveau</a>.</p>
        <a href="{{ path('app_home') }}" class="btn btn-secondary my-3">Retour</a>

{% endblock %}
