
{% extends 'base-admin.html.twig'%}
{% block css %}
{{ parent() }}
{%endblock%}

{% block title %}Commande{% endblock %}
{% block navbar %}
{{ parent() }}
{%endblock%}

{% block body %}
{{ parent() }}
<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">


        <div class="navbar-nav align-items-center">
        <div class="nav-item d-flex align-items-center">
        <i class="bx bx-search fs-4 lh-0"></i>
            <input type="text" id="search" class="form-control border-0 shadow-none ps-1 ps-sm-2" placeholder="Search..." name="search" >
 
        </div>
         
        </div>
       
</nav>
    <h1>Traitement index</h1>
<div id='tableAjax'>
{% include "traitement/listAjax.html.twig" with {'traitements' : traitements} %}
</div>    
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
   $(document).ready(function() {
        $('#search').on('input', function() {
            var search = $(this).val();

            $.ajax({
                url: "{{ path('app_traitement_search') }}",
                type: "POST",
                data: { search: search },
                success: function(data) {
                    console.log(data)
                    $("#tableAjax").html(data);
                }
            });
        });
    });
    </script>
{% endblock %}
