
{% extends 'admin/base-admin.html.twig' %}

{% block title %}affichage devis{% endblock %}
<title>Edit Devis</title>

{% block body %}
<!DOCTYPE html>
    <h1>Edit Devis</h1>

    {{ include('devis_back/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_devis_back_index') }}">back to list</a>

    {{ include('devis_back/_delete_form.html.twig') }}
{% endblock %}
