{% extends 'admin/base-admin.html.twig' %}
{% block title %}New Devis{% endblock %}

{% block body %}
    <!DOCTYPE html>
    <h1>Create new Devis</h1>

    {{ include('devis/_form.html.twig') }}

    <a href="{{ path('app_devis_index') }}">back to list</a>
{% endblock %}
