
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">


	<div class="app-brand demo ">
		<a href="index-2.html" class="app-brand-link">
			<span class="app-brand-logo demo">
            {# logo here #}
			</span>
			<span class="app-brand-text demo menu-text fw-bold ms-2">Django-Admin</span>
		</a>

		<a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
			<i class="bx bx-chevron-left bx-sm align-middle"></i>
		</a>
	</div>

	<div class="menu-inner-shadow"></div>


	<ul
		class="menu-inner py-1">

		<!-- Dashboards -->
		<li class="menu-item active open">
			<a href="javascript:void(0);" class="menu-link menu-toggle">
				<i class="menu-icon tf-icons bx bx-home-circle"></i>
				<div data-i18n="Dashboards">Dashboards</div>
				<div class="badge bg-danger rounded-pill ms-auto">5</div>
			</a>
			<ul class="menu-sub">
				<li class="menu-item">
					<a href="{{path('app_mecanicien_index')}}" target="_blank" class="menu-link">
						<div data-i18n="CRM">CRUD MECANICIENS</div>
						
					</a>
				</li>
				<li class="menu-item">
					<a href="{{ path('app_evaluation_index') }}"target="_blank" class="menu-link">
						<div data-i18n="CRM">CRUD EVALUATIONS</div>
						
					</a>
				
			</ul>
		</li>

		<!-- Layouts -->
		

		<!-- Front Pages -->
		


		<!-- Apps -->
		
		<!-- Pages -->
		
		<!-- Components -->
		
		<!-- Cards -->
		
		<!-- User interface -->

		<!-- Extended components -->
		
		<!-- Forms & Tables -->
		
		<!-- Forms -->
		
		<!-- Form Validation -->
		
		<!-- Tables -->
		
		<!-- Data Tables -->
		
		<!-- Misc -->
		
</aside>

