<!DOCTYPE html>

<title>New ReponseDevis</title>

{% block body %}
    <h1>Create new ReponseDevis</h1>

    {{ include('reponse_devis/_form.html.twig') }}

    <a href="{{ path('app_reponse_devis_index') }}">back to list</a>
{% endblock %}
