{% extends 'admin/base-admin.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="mt-5 mb-4">Create new Post</h1>

                {{ include('post/_form.html.twig') }}

                <a href="{{ path('app_post_index') }}" class="btn btn-secondary mt-3">Back to list</a>
            </div>
        </div>
    </div>
{% endblock %}