<form method="post" action="{{ path('app_constat_delete', {'id': constat.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ constat.id) }}">
    <button class="btn btn-outline-danger">Delete<i class='bx bxs-trash'></i></button>
</form>
