{% extends 'admin/base-admin.html.twig' %}

{% block title %}Edit Commentaire{% endblock %}

{% block body %}
    <h1>Edit Commentaire</h1>

    {{ include('commentaire_back/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_commentaire_back_index') }}">Back to list</a>

    {{ include('commentaire_back/_delete_form.html.twig') }}
{% endblock %}
