{% extends 'admin/base-admin.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center mt-5 mb-4">ajouter Post</h1>

                {{ include('post/_form.html.twig') }}

                <div class="text-center mt-3">
                    <a href="{{ path('app_post_index') }}" class="btn btn-primary">retour list</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
