{% extends 'admin/base-front.html.twig' %}

{% block title %} New Contrat{% endblock %}

{% block body %}
    <!DOCTYPE html>
    <h1>Create new Contrat</h1>

    {{ include('contrat/_form.html.twig') }}

   <a href="{{ path('app_home') }}" style="background-color: #0056b3; color: white; padding: 3px 25px 3px 30px; text-decoration: none; border-radius: 3px; display: inline-block; position: relative;">
    <span style="position: absolute; left: 5px; top: 50%; transform: translateY(-50%);">◄</span> Home
</a>



{% endblock %}
