{% extends 'admin/base-admin.html.twig' %}

{% block title %}Modifier Voiture{% endblock %}

{% block body %}
    <h1>Modifier Voiture</h1>
        <div class="text-center">

    {{ include('voiture/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_voiture_index') }}" class="btn btn-primary">Retour</a>
    </div>
    {{ include('voiture/_delete_form.html.twig') }}
{% endblock %}
