{% extends 'admin/base-admin.html.twig' %}

{% block title %}Nouveau Voiture{% endblock %}

{% block body %}
    <h1>Creer nouveau Voiture</h1>

    {{ include('voiture/_form.html.twig') }}
    <div class="text-center">
        <a href="{{ path('app_voiture_index') }}" class="btn btn-primary">Retour</a>
    </div>
{% endblock %}
