{% extends 'admin/base-admin.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Creer nouveau User</h1>

    {{ include('user/_form.html.twig') }}
    <div class="text-center">
        <a href="{{ path('app_user_index') }}" class="btn btn-primary">Retour</a>
    </div>
{% endblock %}
