{% extends 'client/base-client.html.twig' %}

{% block body %}
    <h1>Edit Evaluation</h1>

    {{ include('evaluation_front/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_evaluation_front_index') }}">back to list</a>

    {{ include('evaluation_front/_delete_form.html.twig') }}
{% endblock %}
