{% extends 'client/base-client.html.twig' %}
{% block body %}
    <h1>Les Evaluations</h1>
    <h2>Vous pouvez faire votre évaluation ici!</h2>
    <a href="{{ path('app_evaluation_front_new') }}">Create new</a>
{% endblock %}
